.filter {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
  	color: #080808;
  	flex-shrink: 0;
}
.activeIndicator {
  	align-self: stretch;
  	height: 2px;
  	position: relative;
  	background-color: #ff7900;
}
.filter2 {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	flex-shrink: 0;
  	padding-bottom: 12px;
  	transition: color 0.2s ease;
}
.filter2:hover {
  	color: #080808;
}
