.colorOption {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #f5f3e9;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption2 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #ff7900;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption3 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #222;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption4 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #151515;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption5 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #787878;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption7 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #eee;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption8 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #e8e6de;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption9 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #252525;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption10 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #a7a9b2;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption11 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #e7e6df;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption12 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #181818;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption15 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #747474;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
.colorOption18 {
  	height: 12px;
  	width: 12px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #d4d4ce;
  	border: 1px solid #d7d7d2;
  	box-sizing: border-box;
}
